* {
  font-family: lato;
}

body {
  background-color: #EBEBEB;
}

.ligne_separation {
  height: 13px;
}

/*****************ALERT***********************/
.alert {
  background-color: #AEB4A9;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
  height: 25px;
}
.alert .btn-close {
  background: url(../assets/images/btnX.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  opacity: 1;
  width: 0;
  height: 0;
  padding: 1rem 1rem;
}
.alert p {
  margin: 0;
}
.alert a {
  color: #F75C03;
  text-decoration: none;
}

/*****************NAV***********************/
nav {
  font-size: 20px;
}
nav .ligne_separation {
  display: none;
}
nav .logo {
  width: 39px;
}
nav .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.nav-lien {
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  /*
  &:hover{

      color:variables.$orange;
      text-decoration: underline;text-decoration-thickness:1.5px;
      text-underline-offset: 8px;

  }
  */
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  width: 100%;
  border: #004E89 3px solid;
  border-radius: 40px;
}
.nav-item:hover {
  background-color: #F75C03;
}
.nav-item:hover .nav-lien {
  color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/images/menu_hamburger.svg);
}

.navbar-light .navbar-toggler {
  border: none;
}

/*****************HERO***********************/
.hero {
  width: 100vw;
  height: 80vh;
  padding: 0 66px;
  display: grid;
  grid-template-rows: 66px 1fr 1fr 1fr;
  grid-template-columns: 33% 33% 33%;
}
.hero__titre {
  grid-row-start: 2;
  grid-column-start: 1;
}
.hero__titre h1 {
  color: black;
  font-size: 24px;
  padding-right: 25px;
  padding-left: 0;
  margin: 0;
  font-weight: 900;
}
.hero__titre h1:nth-child(3) {
  padding-left: 25px;
}
.hero__info01 {
  margin-top: 66px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.hero__info01__content {
  width: 390px;
}
.hero__info01__content h2:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: #004E89;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
}
.hero__info01 h2 {
  font-size: 40px;
  font-weight: 700;
}
.hero__info01 p {
  font-size: 14px;
  text-align: right;
}
.hero__info02 {
  margin-top: 40px;
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}
.hero__info02__content {
  width: 500px;
}
.hero__info02__content h2:nth-child(2) {
  text-decoration: underline;
  text-decoration-color: #F75C03;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
}
.hero__info02 h2 {
  font-size: 40px;
  font-weight: 700;
}
.hero__info02__carousel {
  width: 207px;
  height: 178px;
  background-image: url(../assets/images/cercle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 14px;
}
.hero__info02__carousel p {
  width: 150px;
  margin: 0;
}
.hero__info02__carousel__nav {
  width: 30%;
}
.hero__info02__carousel__nav button {
  margin-top: 5px;
  border: none;
  background-color: #004E89;
  width: 11px;
  height: 11px;
  border-radius: 100%;
}

.campagne {
  display: none;
}

.services {
  display: none;
}

.nouvelles {
  display: none;
}

.temoignage {
  display: none;
}

.espace {
  display: none;
}

footer {
  display: none;
}/*# sourceMappingURL=style.css.map */