
@use "variables";

*{
    font-family: lato;
}
body{
    background-color: variables.$gris;
}
.ligne_separation{
    height:13px;
}
/*****************ALERT***********************/
.alert{
    background-color: variables.$grisFoncer;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
    height:25px;
    .btn-close{
        background: url(../assets/images/btnX.svg);
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: center;
        opacity: 1;
        width:0;
        height:0;
        padding: 1rem 1rem;
    }
    p{
        margin:0;
    }
    a{
        color:variables.$orange;
        text-decoration: none;
    }
}
/*****************NAV***********************/
nav{
font-size:20px;
.ligne_separation{
    display: none;
}
.logo{
    width:39px;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

}
.nav-lien{
    font-size:14px;
    font-weight: 900;
    text-decoration: none;
    color:black;
      /*
    &:hover{
      
        color:variables.$orange;
        text-decoration: underline;text-decoration-thickness:1.5px;
        text-underline-offset: 8px;
        
    }
    */
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px 0;
    width: 100%;
    border: variables.$bleu 3px solid;
    border-radius: 40px;
&:hover{
  background-color: variables.$orange;
  .nav-lien{
    color: white;
  }
}
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../assets/images/menu_hamburger.svg);
}
.navbar-light .navbar-toggler{
    border: none;
}

/*****************HERO***********************/
.hero{
    width:100vw;
    height:80vh;
    padding:15px 15px;
/**
    grid-template-rows:66px 1fr 1fr 1fr;
    grid-template-columns:33% 33% 33%;
**/
    &__titre{

        /*
        grid-row-start: 2;
        grid-column-start:1;
        */
        img{
            width:49px;
        }
        
    h1{
        color: black;
        font-size: 24px;
        padding-right:25px;
        padding-left: 0;
        margin: 0;
        font-weight: 900;
    }
    h1:nth-child(3){
        padding-left:25px;
    }
}
&__info01{
    /*
    grid-row-start: 3;
    grid-column-start:1;
    grid-column-end: 3;
    */
    padding-top:40px;
    &__content{
        width: 200px;
        h2:nth-child(1){
        text-decoration: underline;
        text-decoration-color:variables.$bleu;
        text-decoration-thickness:3px;
        text-underline-offset: 3.5px;
        }
    }
    h2{
        font-size:20px;
        font-weight:700;
    }
    p{
        font-size: 14px;
        text-align: right;
        margin: 0;
    }
    img{
        width: 146px;
        height:140px;
    }
}
&__info02{
    padding-top:20px;
    /*
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    */
    &__content{
        width:220px;
        h2:nth-child(2){
            text-decoration: underline;
            text-decoration-color:variables.$orange;
            text-decoration-thickness:3px;
            text-underline-offset: 3.5px;
            }
    }
    h2{
        font-size: 20px;
        font-weight: 700;
    }
    &__carousel{
        width:120px;
        height:130px;
        background-image: url(../assets/images/cercle.png);
        background-repeat:no-repeat ;
        background-size: 100%;
        font-size: 8px;
        p{
            width: 100px;
            margin:0;
        }
        &__nav{
            width:30%;
            button{
                margin-top: 5px;
                border:none;
                background-color: variables.$bleu;
                width: 12px;
                height: 12px;
                border-radius:100%;
            }
        } 
    }
}
}
.campagne{
    display: none;
}
.services{
    display: none;
}
.nouvelles{
    display: none;
}
.temoignage{
    display: none;
}
.espace{
    display: none;
}
footer{
    display: none;
}
