@charset "UTF-8";
nav {
  font-size: 20px;
}
nav .ligne_separation {
  display: none;
}
nav .logo {
  width: 39px;
}
nav .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.nav-lien {
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  /*
  &:hover{

      color:variables.$orange;
      text-decoration: underline;text-decoration-thickness:1.5px;
      text-underline-offset: 8px;

  }
  */
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  width: 100%;
  border: #004E89 3px solid;
  border-radius: 40px;
}
.nav-item:hover {
  background-color: #F75C03;
}
.nav-item:hover .nav-lien {
  color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/images/menu_hamburger.svg);
}

.navbar-light .navbar-toggler {
  border: none;
}

@media (min-width: 768px) {
  nav .ligne_separation {
    display: block;
  }
  nav .logo {
    width: 48px;
  }
  nav .nav-lien {
    font-size: 18px;
    font-weight: 300;
  }
  nav .nav-item {
    border: none;
    border-radius: 40px;
  }
  nav .nav-item:hover {
    background-color: #EBEBEB;
  }
  nav .nav-item:hover .nav-lien {
    color: #F75C03;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 8px;
  }
}
@media (min-width: 1200px) {
  nav .logo {
    width: 96px;
  }
  nav .nav-lien {
    font-size: 28px;
  }
}
.alert {
  background-color: #AEB4A9;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
  height: 25px;
}
.alert .btn-close {
  background: url(../assets/images/btnX.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
  opacity: 1;
  width: 0px;
  height: 0px;
  padding: 1rem 1rem;
}
.alert p {
  margin: 0;
}
.alert a {
  color: #F75C03;
  text-decoration: none;
}

@media (min-width: 768px) {
  .alert {
    height: 51px;
    font-size: 20px;
  }
  .alert .btn-close {
    background-size: 32px;
    width: 32px;
    height: 20px;
  }
  .ligne_separation {
    height: 17px;
  }
}
@media (min-width: 1200px) {
  .alert {
    height: 79px;
    font-size: 36px;
  }
  .alert .btn-close {
    background-size: 45px;
    width: 45px;
    height: 45px;
  }
  .ligne_separation {
    height: 30px;
  }
}
* {
  font-family: lato;
}

body {
  background-color: #EBEBEB;
}

.ligne_separation {
  height: 13px;
}

body.page-567 {
  color: blue;
}

body.page-567 h1 {
  color: orange;
}

/**aide mémoire pour font lato
font-weight: 300; = light
font-weight: 400; = regular
font-weight: 700; = bold 
font-weight: 900; = black
**/
/***************** DÉBUT HERO***********************/
.hero {
  padding: 40px 12px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__titre {
  align-self: center;
}
.hero__titre img {
  width: 49px;
}
.hero__titre h1 {
  color: black;
  font-size: 24px;
  padding-right: 25px;
  padding-left: 0;
  margin: 0;
  font-weight: 900;
}
.hero__titre h1:nth-child(3) {
  padding-left: 25px;
}
.hero__info01 {
  align-self: center;
  padding-top: 40px;
  margin-top: 0;
}
.hero__info01__content {
  width: 200px;
}
.hero__info01__content h2:nth-child(1) {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-color: #004E89;
}
.hero__info01 h2 {
  font-size: 20px;
  font-weight: 700;
}
.hero__info01 p {
  font-size: 14px;
  text-align: right;
  margin: 0;
  line-height: 1.5;
}
.hero__info01 img {
  width: 146px;
  height: 140px;
}
.hero__info02 {
  align-self: center;
  padding-top: 20px;
  margin-top: 0;
}
.hero__info02__content {
  padding-right: 0;
  width: 235px;
}
.hero__info02__content h2:nth-child(2) {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-color: #F75C03;
}
.hero__info02 h2 {
  font-size: 20px;
  font-weight: 700;
}
.hero__info02 p {
  font-size: 14px;
  line-height: 1.5;
}
.hero__info02__carousel {
  width: 120px;
  height: 130px;
  background-image: url(../assets/images/cercle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 8px;
}
.hero__info02__carousel p {
  width: 100px;
  margin: 0;
  font-size: 8px;
  line-height: 1.5;
}
.hero__info02__carousel__nav {
  width: 50%;
}
.hero__info02__carousel__nav button {
  margin-top: 5px;
  border: none;
  background-color: #004E89;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

@media (min-width: 768px) {
  .hero {
    padding: 57px 50px;
    display: flex;
  }
  .hero__titre {
    align-self: flex-start;
  }
  .hero__titre h1 {
    font-size: 50px;
  }
  .hero__titre img {
    width: 105px;
  }
  .hero__info01 {
    align-self: flex-start;
    position: relative;
    height: 170px;
    width: 500px;
  }
  .hero__info01__content {
    width: 315px;
    position: absolute;
  }
  .hero__info01 h2 {
    font-size: 32px;
  }
  .hero__info01 p {
    line-height: 30px;
  }
  .hero__info01 img {
    position: absolute;
    right: 0;
    width: 194px;
  }
  .hero__info02 {
    align-self: flex-end;
  }
  .hero__info02__content {
    width: 380px;
    padding-right: 0;
  }
  .hero__info02 h2 {
    font-size: 30px;
  }
  .hero__info02 p {
    line-height: 30px;
  }
  .hero__info02__carousel {
    width: 207px;
    height: 178px;
  }
  .hero__info02__carousel p {
    width: 134px;
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 75px 60px;
    display: flex;
  }
  .hero__titre h1 {
    font-size: 80px;
  }
  .hero__titre img {
    width: 141px;
  }
  .hero__info01 {
    margin-top: 38px;
    width: 700px;
  }
  .hero__info01__content {
    width: 390px;
  }
  .hero__info01 h2 {
    font-size: 40px;
  }
  .hero__info01 img {
    width: 280px;
    height: 233px;
  }
  .hero__info02 {
    margin-top: 38px;
  }
  .hero__info02__content {
    width: 460px;
    padding-right: 10px;
  }
  .hero__info02 h2 {
    font-size: 40px;
  }
}
/*****************FIN HERO***********************/
/*****************DÉBUT CAMPAGNE***********************/
.campagne {
  padding: 40px 12px;
  display: flex;
  background-color: #004E89;
  justify-content: center;
  align-items: center;
}
.campagne img {
  display: none;
}
.campagne__contenus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.campagne__contenus h2 {
  color: white;
  font-size: 24px;
  width: 268px;
  text-align: center;
  line-height: 45px;
}
.campagne__contenus p {
  font-size: 14px;
  color: white;
  width: 242px;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
}
.campagne__contenus button {
  background-color: #EBEBEB;
  color: #F75C03;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .campagne {
    padding: 57px 50px;
    display: flex;
    justify-content: space-between;
  }
  .campagne img {
    display: block;
    width: 336px;
    height: 290px;
  }
  .campagne h2 {
    width: 334px;
    font-size: 30px;
    text-align: right;
    align-self: right;
  }
  .campagne p {
    text-align: right;
    align-self: flex-end;
  }
  .campagne button {
    align-self: flex-end;
  }
}
@media (min-width: 1200px) {
  .campagne {
    padding: 75px 60px;
    display: flex;
  }
  .campagne img {
    width: 497px;
    height: 439px;
  }
  .campagne h2 {
    width: 446px;
    font-size: 40px;
    text-align: right;
    align-self: right;
  }
  .campagne p {
    text-align: right;
    align-self: flex-end;
  }
  .campagne button {
    align-self: flex-end;
  }
}
/*****************FIN CAMPAGNE***********************/
/*****************DÉBUT SERVICE***********************/
.services {
  padding: 40px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__titre {
  display: flex;
}
.services__titre h2 {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-color: #004E89;
}
.services__contenus {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.services__contenus img {
  width: 163px;
  height: 135px;
}
.services__contenus__wrapupDropdown__titre {
  display: none;
}
.services__contenus__wrapupDropdown .dropdown button {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-color: #F75C03;
  font-size: 20px;
}
.services__contenus__wrapupDropdown .dropdown .dropdown-menu {
  background-color: #D9D9D9;
  width: 270px;
  padding: 20px;
}
.services__contenus__wrapupDropdown .dropdown .dropdown-menu.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__contenus__wrapupDropdown .dropdown .dropdown-menu p {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}
.services__contenus__wrapupDropdown .dropdown .dropdown-menu button {
  background-color: #EBEBEB;
  color: #F75C03;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 0 #004E89;
  height: 30px;
  width: 100%;
  max-width: 200px;
  background-color: transparent;
  text-decoration-thickness: 1px;
}

@media (min-width: 768px) {
  .services {
    padding: 57px 50px;
    display: flex;
  }
  .services__titre {
    display: none;
  }
  .services__contenus img {
    width: 369px;
    height: 307px;
  }
  .services__contenus__wrapupDropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .services__contenus__wrapupDropdown .dropdown button {
    font-size: 28px;
  }
  .services__contenus__wrapupDropdown .dropdown .dropdown-menu {
    width: 450px;
  }
  .services__contenus__wrapupDropdown__titre {
    display: flex;
  }
  .services__contenus__wrapupDropdown__titre h2 {
    font-size: 30px;
  }
  .services__contenus__wrapupDropdown__titre h2:nth-child(1) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3.5px;
    text-decoration-color: #004E89;
  }
}
@media (min-width: 1200px) {
  .services {
    padding: 75px 60px;
    display: flex;
  }
  .services__titre {
    display: none;
  }
  .services__contenus img {
    width: 662px;
    height: 550px;
  }
  .services__contenus__wrapupDropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .services__contenus__wrapupDropdown .dropdown .dropdown-menu {
    width: 450px;
  }
  .services__contenus__wrapupDropdown .dropdown .dropdown-menu p {
    font-size: 20px;
  }
  .services__contenus__wrapupDropdown__titre {
    display: flex;
  }
  .services__contenus__wrapupDropdown__titre h2 {
    font-size: 40px;
  }
  .services__contenus__wrapupDropdown__titre h2:nth-child(1) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3.5px;
    text-decoration-color: #004E89;
  }
}
/*****************FIN SERVICES***********************/
/*****************DÉBUT NOUVELLES***********************/
.nouvelles {
  padding: 40px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004E89;
}
.nouvelles__titre {
  display: flex;
}
.nouvelles__titre h2 {
  font-size: 24px;
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-color: #F75C03;
}
.nouvelles__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nouvelles__content button:nth-child(1) {
  display: none;
}
.nouvelles__content button {
  background-color: #EBEBEB;
  color: #F75C03;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  font-size: 8px;
  display: flex;
}
.nouvelles__content button .sousligne {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-color: #F75C03;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}
.nouvelles__content .card {
  position: relative;
  background-color: #D9D9D9;
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 20px;
  margin: 20px 0 0 0;
  width: 191px;
  height: 273px;
  padding-top: 185px;
}
.nouvelles__content .card img:nth-child(1) {
  border-radius: 2em;
  position: absolute;
  top: 0;
  left: 0;
}
.nouvelles__content .card h4 {
  font-size: 12px;
  font-weight: 900;
  text-align: left;
  height: 29px;
}
.nouvelles__content .card button {
  background-color: #EBEBEB;
  color: #F75C03;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-thickness: 1px;
  box-shadow: 0 0 4px 0 #004E89;
  width: 100%;
  margin: 0;
  font-size: 8px;
  text-underline-offset: 1px;
}

@media (min-width: 768px) {
  .nouvelles {
    padding: 57px 50px;
    display: flex;
  }
  .nouvelles__titre {
    align-self: flex-start;
  }
  .nouvelles__titre h2 {
    font-size: 30px;
    text-decoration: none;
  }
  .nouvelles__titre h2:nth-child(3) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3.5px;
    text-decoration-color: #F75C03;
  }
  .nouvelles__content {
    margin-top: 20px;
    justify-content: space-around;
    flex-direction: row;
  }
  .nouvelles__content button:nth-child(1) {
    display: block;
  }
  .nouvelles__content button:nth-child(5) {
    display: none;
  }
  .nouvelles__content .card {
    width: 160px;
    height: 250px;
    padding-top: 150px;
    margin: 20px 10px 0 10px;
  }
  .nouvelles__content .card h4 {
    font-size: 10px;
  }
  .nouvelles__content .card button {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .nouvelles {
    padding: 75px 60px;
    display: flex;
  }
  .nouvelles__titre h2 {
    font-size: 40px;
  }
  .nouvelles__content {
    margin-top: 30px;
  }
  .nouvelles__content button:nth-child(1) {
    font-size: 14px;
  }
  .nouvelles__content .card {
    height: 320px;
    width: 220px;
    padding-top: 210px;
  }
  .nouvelles__content .card h4 {
    font-size: 14px;
  }
  .nouvelles__content .card button {
    margin-top: 15px;
    font-size: 14px;
  }
}
/*****************FIN NOUVELLES***********************/
/*****************DÉBUT TÉMOIGNAGE***********************/
.temoignage {
  padding: 40px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temoignage h2 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-color: #004E89;
  font-size: 24px;
}
.temoignage__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.temoignage__content .card {
  position: relative;
  background-color: #D9D9D9;
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 20px;
  margin: 20px 0 0 0;
  width: 191px;
  height: 273px;
  padding-top: 185px;
  width: 240px;
  height: 330px;
  padding-top: 230px;
}
.temoignage__content .card img:nth-child(1) {
  border-radius: 2em;
  position: absolute;
  top: 0;
  left: 0;
}
.temoignage__content .card h4 {
  font-size: 12px;
  font-weight: 900;
  text-align: left;
  height: 29px;
}
.temoignage__content .card button {
  background-color: #EBEBEB;
  color: #F75C03;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3.5px;
  text-decoration-thickness: 1px;
  box-shadow: 0 0 4px 0 #004E89;
  width: 100%;
  margin: 0;
  font-size: 8px;
  text-underline-offset: 1px;
}
.temoignage__content .card .identiter {
  display: flex;
  flex-direction: row;
}
.temoignage__content .card .identiter img {
  width: 11px;
  height: 7px;
}
.temoignage__content .card .identiter h4 {
  font-size: 8px;
  font-weight: 900;
  margin: 0;
  height: 20px;
}
.temoignage__content .card p {
  font-size: 8px;
  font-weight: 300;
}
.temoignage__content .imgCoter {
  display: none;
}

@media (min-width: 768px) {
  .temoignage {
    padding: 57px 50px;
    display: flex;
  }
  .temoignage h2 {
    font-size: 30px;
    align-self: flex-start;
  }
  .temoignage__content {
    justify-content: space-between;
  }
  .temoignage__content .imgCoter {
    display: block;
    width: 378px;
    height: 304px;
  }
}
@media (min-width: 1200px) {
  .temoignage {
    padding: 75px 60px;
    display: flex;
  }
  .temoignage h2 {
    font-size: 40px;
  }
  .temoignage__content {
    justify-content: space-between;
  }
  .temoignage__content .card {
    width: 400px;
    height: 585px;
    padding-top: 379px;
  }
  .temoignage__content .card .identiter h4 {
    font-size: 14px;
  }
  .temoignage__content .card .identiter img {
    width: 23px;
    height: 17px;
  }
  .temoignage__content .card p {
    font-size: 14px;
  }
  .temoignage__content .imgCoter {
    display: block;
    width: 531px;
    height: 522px;
  }
}
/*****************FIN TÉMOIGNAGE***********************/
.espace {
  display: none;
}

footer {
  display: none;
}/*# sourceMappingURL=style.css.map */