@use "variables";


body{
    background-color: variables.$gris;
}
nav{
font-size:20px;
.logo{
    width:100px;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-link{
    color:black;
}
}

.hero{
    display: none;
}
.campagne{
    display: none;
}
.services{
    display: none;
}
.nouvelles{
    display: none;
}
.temoignage{
    display: none;
}
.espace{
    display: none;
}
footer{
    display: none;
}