@use "variables";
@use "base";
@use "sections";
@use "cartes";

@mixin derniereNouvellesTelephone{
    @include sections.sectionsTelephone;
    flex-direction: column;
    align-items: center;
    background-color: variables.$bleu;
    &__titre{
        display: flex;
        h2{
            font-size: 24px;
            color:white;
            @include base.sousligne;
            text-decoration-color: variables.$orange;
        }
    }
   
    &__content{
        width: 100%;
        button:nth-child(1){
            display:none;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            @include base.btn;
            margin-top: 20px;
            font-size: 8px;
            display: flex;
            .sousligne{
                @include base.sousligne;
                text-decoration-color: variables.$orange;
                text-decoration-thickness: 1px;
                text-underline-offset:1px;
            }
        }
        .card{
            @include cartes.carte;
        }
    }
}

@media (min-width:768px){
    .nouvelles{
        @include sections.sectionsTablette;
        &__titre{
            align-self: flex-start;
            h2{
                font-size: 30px;
                text-decoration: none;
                &:nth-child(3){
                    @include base.sousligne;
                    text-decoration-color: variables.$orange;
                }
            }
        }
        &__content{
            margin-top: 20px;
            justify-content: space-around;
            button:nth-child(1){
                display:block;
            }
            button:nth-child(5){
                display:none;
            }
            flex-direction: row;
            .card{
                width:160px;
                height:250px;
                padding-top:150px;
                margin: 20px 10px 0 10px;
                h4{
                    font-size: 10px;
                }
                button{
                    margin-top:20px;
                }
            }

        }
    }
}


@mixin derniereNouvellesTablette{
    @include sections.sectionsTablette;
        &__titre{
            align-self: flex-start;
            h2{
                font-size: 30px;
                text-decoration: none;
                &:nth-child(3){
                    @include base.sousligne;
                    text-decoration-color: variables.$orange;
                }
            }
        }
        &__content{
            margin-top: 20px;
            justify-content: space-around;
            button:nth-child(1){
                display:block;
            }
            button:nth-child(5){
                display:none;
            }
            flex-direction: row;
            .card{
                width:160px;
                height:250px;
                padding-top:150px;
                margin: 20px 10px 0 10px;
                h4{
                    font-size: 10px;
                }
                button{
                    margin-top:20px;
                }
            }

        }
}


@mixin derniereNouvellesOrdinateur{
    @include sections.sectionsOrdinateur;
    &__titre{
        h2{
            font-size: 40px;
        }
    }
    
    &__content{
        margin-top: 30px;
        button:nth-child(1){
            font-size: 14px;
        }
        .card{
            height:320px;
            width:220px;
            padding-top: 210px;
            h4{
                font-size: 14px;
            }
            button{
                margin-top: 15px;
                font-size: 14px;
            }
        }
    }
}

