@use "variables";

@mixin sectionsTelephone{
    padding: 40px 12px;
    display: flex;
}
@mixin sectionsTablette{
    padding: 57px 50px;
    display: flex;
}
@mixin sectionsOrdinateur{
    padding: 75px 60px;
    display: flex;
}

@mixin sectionNouvelleTelephone{
margin:40px 12px;
padding: 40px 20px;
border-radius: 40px;
background-color: variables.$grisFoncer;
display: flex;
flex-direction: column;
align-items: center;
}