@use "sass:color";
@use "variables";
@mixin sectionsTelephone {
    padding: 40px 12px;
}

@mixin sectionsTablette {
    padding: 57px 50px;
}

@mixin sectionsOrdinateur {
    padding: 75px 60px;
}

@mixin sectionNouvelleTelephone {
    box-shadow: 0 4px 4px 0 color.adjust(variables.$bleuOmbre, $alpha: -0.75);
    margin: 40px 12px;
    padding: 40px 20px;
    border-radius: 40px;
    background-color: variables.$grisFoncer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin sectionNouvelleTabletteOrdinateur{
    box-shadow: 0 4px 4px 0 color.adjust(variables.$bleuOmbre, $alpha: -0.75);
    margin: 40px 66px;
    padding: 57px 50px;
    border-radius: 40px;
    background-color: variables.$grisFoncer;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1068px;
}


@mixin sectionGroupeImgTelephone{
    @include sectionNouvelleTelephone;
    justify-content:space-evenly;
    img{
        margin:20px 0;
        background-color:variables.$orange;
        width: 300px;
        height:300px;
        border-radius: 35px;
        object-fit: cover;
    }
}

@mixin sectionGroupeImgTablette{
        @include sectionNouvelleTabletteOrdinateur;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        img{
            margin:0;
            background-color:variables.$orange; // ENLEVER LE BACKGROUND COLOR LORSQU'IL VA Y AVOIR LES VRAIS IMAGES
            max-width: 210px;
            max-height: 210px;
            border-radius: 35px;
            object-fit: cover;
        }
    }

@mixin sectionGroupeImgOrdinateur{
    display: flex;
    flex-direction: row;
}

@mixin sectionTexte{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}
@mixin sectionTitre{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    align-self: flex-start;
    line-height: 28px;
    margin-bottom: 0;
}